.shineywaves__video {
  max-width: 1281px;
  width: 100%;
  height: auto;
  margin-top: 40px;
  border-top-left-radius: 64px;
  border-top-right-radius: 64px;
}

@media (max-width: 768px) {
  .shineywaves__video {
    margin-top: 12px;
    margin-bottom: 153px;
    border-radius: 24px;
  }
}
